@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    body {
        background-image: url("/Content/Image/image.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>

<html>
<head>
    <title>
        BusraAtaseven.html
    </title>
</head>
<body>
    <p>
        <img src="~/Content/Image/busra.jpg" style"width=100; align-left="300; " height=150 />
    </p>
    <p>
<pre>
<b>BÜŞRA ATASEVEN </b>
<pre>
Address : Aşağıeğlence Mah. Mercimek Sk. No:/13 Keçiören / ANKARA
Tel: 0505 843 9696
E-mail:   busraataseven93@gmail.com
Date of Birth and Place : 21/05/1993 -  Ankara
<b>Education &  Training</b>
(2011-   )    Yıldırım Beyazıt University   
              Computer Engineering (%100 English)      
<b>Areas studied include:</b>Computer Programming( I-II), Object Oriented Programming, Data Structures, 
                      Computer System Architecture, Probability and Statics, Entrepreneurship, Electronic Circuits, Electrical Circuits and Electronic Devices,
                      Digital Design, Engineering Mathematics(I-II)
(2007-2011)  Ankara Anatolian High School
                       
<b>Qualifications</b>
Programming Languages    C and Object Oriented Programming  (JAVA )
Computer Programs        Dev C++,  Eclipse, Eclipse Android Developer,  Multisim,  Xilinx
                         MS Office Programs
Foreign Language         English   (upper)
                         German  (elemetary)
<b>Courses  & Seminars</b>
Course :   (2014 -   )  Network Data Base
Seminar : (2014)     ODTÜ 14. Management and Engineering Days -Certificate of Participation - Innovation         
</pre>
    </p>
</body>
</html>
