@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    body {
        background-image: url("/Content/Image/image.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>
<address>
    Aşağı Eğlence Neighborhood<br />
    Etlik, ANKARA 06010<br />
    <abbr title="Phone">P:</abbr>
    05051234567
</address>

<address>
    <strong>If you want to contact me:</strong> <a href="busraataseven93@gmail.com">busraataseven93@gmail.com</a>
</address>