@{
    ViewBag.Title = "Home Page";
}

<style>
    body{
        background-image:url("/Content/Image/img.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        backface-visibility:visible;
    }
</style>

<div class="jumbotron">
    <h1>MOVIES</h1>
    <p class="lead">myBlog is a good source to make you inform for learning the good movies from all around the world.
                    Especially this blog includes the IMDB's top 250 movie list and the movies which have really high rating scores</p>
    <p><a href="http://localhost:59863/Movies/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>myBlog Movies</h2>
        <p>
            The list and information about the movies are in here 
        </p>
        <p><a class="btn btn-default" href="http://localhost:59863/Movies/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ABOUT</h2>
        <p>Who is Büşra Ataseven?</p>
        <p><a class="btn btn-default" href="http://localhost:59863/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CONTACT</h2>
        <p>For more information about us</p>
        <p><a class="btn btn-default" href="http://localhost:59863/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>